
p{
    color:rgb(208, 205, 255);
    background-color:blueviolet;
}

body{
    background-image: url("../Images/Otto.png");
    background-repeat: repeat;
}
.first {
    border: 2px solid #00ffdd;
    padding: 10px;
    margin: 20px;
}