p{
    color: #009;;
}

body{
    font-family:Georgia, serif;
    background-color: #FF6D28;
}

 h1, h2 {
  color: #1a001a;
}

nav{
    background: color #009;;
    padding: 10px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) 
{nav a { display:block;}
span {display: none;}
}
@media only screen and (min-width: 600px)
{ nav a{display:inline;}
    span{display:inline}}

nav a{
    color: #00F5FF;
}
nav a:hover
 {background-color: #00004d;}

 


