
body{
    background-color: #C8C8C8;} 
h1, h2, h3, h4, h5{
    color: navy;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 600px) 
{nav a { display:block;}
span {display: none;}
}
@media only screen and (min-width: 600px)
{ nav a{display:inline;}
    span{display:inline}}

nav a {
    padding: 3px;
    border: dotted 1px navy; 
    border-radius: 10px;
    width: 80px;
    font-size: 15px;
    line-height: 28px;
}
nav a:hover
 {background-color:yellow}

hr{
    height: 3px;
    border-width:0;
    background-color: navy;
}